{{ define "main" }}
<main class="page-main pa4" role="main">
  <section class="page-content mw6 center">
    <h1 class="f-headline fw1 mb2 tc">404</h1>
    <h2 class="f4 mb2 ttu tc">The page cannot be found. <i class="fas fa-search pr2"></i></h2>
    <p class="post-body pt5 pb4">If you're looking for an assignment, it's possible it hasn't been published yet. Problem Sets and Labs are published on Tuesday morning the week they are assigned. <i class="far fa-clock pr2"></i></h3>
  </section>
</main>
{{ end }}